#index article {
  margin-bottom: 72px;
}

#index .ind_sec1 h4 {
  font-size: 36px;
  color: #2e63bf;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background: url("../img/ind_title1.png") no-repeat center 2px;
  margin-top: 22px;
  margin-bottom: 14px;
}

#index .ind_sec2 h4 {
  font-size: 36px;
  color: #2e63bf;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background: url("../img/ind_title2.png") no-repeat center;
  margin-top: 37px;
  margin-bottom: 14px;
}

#index .ind_sec2 p.l {
  background-color: #2e63bf;
  color: #fff;
  padding: 15px;
  margin-bottom: 0;
}

#index .ind_sec2 p.step_t {
  margin: 0;
  color: #2e63bf;
  font-size: 16px;
}

#index .ind_sec2 p.step_t, #index .ind_sec2 p.step_c {
  line-height: 29px;
}

#index .ind_sec3 {
  background: url("../img/bg.jpg") repeat-y center;
  padding-top: 1px;
  padding-bottom: 40px;
  margin-bottom: 43px;
}

#index .ind_sec3 h4 {
  font-size: 36px;
  color: #2e63bf;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background: url("../img/ind_title3.png") no-repeat center;
  margin-top: 37px;
  margin-bottom: 14px;
  color: #fff;
}

#index .ind_sec3 ul {
  padding-top: 55px;
}

#index .ind_sec3 .bd {
  position: relative;
  padding-top: 30px;
  padding-bottom: 43px;
  min-height: 327px;
}

#index .ind_sec3 .bd img {
  margin: 0 auto;
}

#index .ind_sec3 .bd p.bd_t {
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: -13px;
  width: 100%;
  text-align: center;
}

#index .ind_sec3 .bd p.more {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -25px;
}

#index .ind_sec3 .bd p.more span {
  display: inline-block;
  height: 23px;
  width: 88px;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: #2e63bf;
  color: #fff;
  line-height: 20px;
}

#index .ind_sec3 .bd p.bd_t:before, #index .ind_sec3 .bd p.bd_t:after {
  width: 30px;
}

#index .ind_sec3 .bd p.more:before, #index .ind_sec3 .bd p.more:after {
  width: 70px;
}

#index .ind_sec4 h4 {
  font-size: 36px;
  color: #2e63bf;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background: url("../img/ind_title4.png") no-repeat center;
  margin-bottom: 25px;
}

#index .ind_sec4 .intro {
  background-color: #f1f1f1;
  padding: 25px;
  color: #333;
  min-height: 270px;
}

#index .ind_sec4 .intro .int_tit {
  font-size: 24px;
}

#index .ind_sec4 .intro:hover {
  color: #2e63bf;
}

#index .ind_sec4 .intro .int_con {
  margin: 0;
  line-height: 30px;
  color: #333;
}

#index .ind_sec4 .intro .int_con span {
  font-weight: bold;
  color: #2e63bf;
}

#product article {
  margin-bottom: 72px;
}

#product .pl_sec1 .title {
  border-left: 3px solid #2e63bf;
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 3px;
  background-color: #fff;
  margin-top: 40px;
}

#product .pl_sec1 .title p {
  color: #333;
}

#product .pl_sec1 .title p:last-child {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

#product .pl_sec1 .title p.s {
  font-size: 18px;
  margin-bottom: 9px;
}

#product .pl_sec1 .title span {
  color: #2e63bf;
}

#product .pl_sec2 li {
  text-align: center;
  margin-bottom: 20px;
}

#product .pl_sec2 li a:hover {
  color: #2e63bf;
}

#product .pl_sec2 li a p {
  margin-top: 14px;
  font-size: 16px;
}

#product .pl_sec2 li a img {
  margin: 0 auto;
}

#product .pl_sec3 .title {
  font-size: 24px;
  color: #2e63bf;
}

#product .pl_sec3 li {
  margin-bottom: 40px;
}

#product .pl_sec3 li .date {
  padding: 3px 9px;
  display: inline-block;
  margin-bottom: 8px;
}

#product .pl_sec3 li .intro {
  font-size: 16px;
  line-height: 25px;
  color: #333 !important;
  margin-bottom: 0;
}

#product .pl_sec3 li:hover .date {
  background-color: #2e63bf;
  color: #fff;
}

#product .pl_sec4 .title {
  font-size: 24px;
  color: #2e63bf;
}

#product .pa.title {
  font-size: 20px;
  color: #2e63bf;
}

#product .pa_sec1 .title {
  border-left: 3px solid #2e63bf;
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 3px;
  background-color: #fff;
  margin-top: 40px;
}

#product .pa_sec1 .title p {
  color: #333;
}

#product .pa_sec1 .title p:last-child {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

#product .pa_sec1 .title p.s {
  font-size: 18px;
  margin-bottom: 9px;
}

#product .pa_sec1 .title span {
  color: #2e63bf;
}

#product .pa_sec2 {
  margin-top: 40px;
}

#product .pa_sec2 img {
  margin: 0 auto;
}

#product .pa_sec2 .title {
  font-size: 24px;
  color: #333;
  margin-top: 67px;
  margin-bottom: 25px;
}

#product .pa_sec2 .title-sm {
  font-weight: bold;
  color: #2e63bf;
  margin-bottom: 22px;
}

#product .pa_sec2 button {
  background-color: #2e63bf;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 15px;
  height: 30px;
  font-size: 18px;
  margin-bottom: 15px;
}

#product .pa_sec3 .title {
  margin-top: 80px;
}

#product .pa_sec4 .title {
  margin-top: 30px;
}

#product .pa_sec4 li {
  line-height: 30px;
}

#product .pa_sec5 .title {
  margin-top: 40px;
}

#product .pa_sec6 {
  margin-top: 30px;
}

#product .pa_sec6 .title {
  margin-bottom: 30px;
}

#product .pa_sec6 td {
  vertical-align: middle;
}

#product .pa_sec6 tr p {
  margin-bottom: 0;
}

#product .pa_sec6 tr:first-child {
  background-color: #2e63bf;
  color: #fff;
}

#product .pa_sec7 .title {
  margin-top: 53px;
}

#product .pa_sec7 li {
  text-align: center;
  margin-bottom: 20px;
}

#product .pa_sec7 li a:hover {
  color: #2e63bf;
}

#product .pa_sec7 li a p {
  margin-top: 14px;
  font-size: 16px;
}

#product .pa_sec7 li a img {
  margin: 0 auto;
}

#news .nl_sec1 .title {
  border-left: 3px solid #2e63bf;
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 3px;
  background-color: #fff;
  margin-top: 40px;
}

#news .nl_sec1 .title p {
  color: #333;
}

#news .nl_sec1 .title p:last-child {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

#news .nl_sec1 .title p.s {
  font-size: 18px;
  margin-bottom: 9px;
}

#news .nl_sec1 .title span {
  color: #2e63bf;
}

#news .nl_sec2 {
  margin-top: 43px;
  margin-bottom: 77px;
}

#news .nl_sec2 ul.news li {
  margin-bottom: 40px;
}

#news .nl_sec2 ul.news li * {
  color: #333;
}

#news .nl_sec2 ul.news li .date {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 3px 41px;
  margin-bottom: 25px;
}

#news .nl_sec2 ul.news li .title {
  font-size: 18px;
  line-height: 25px;
}

#news .nl_sec2 ul.news li .intro {
  line-height: 25px;
}

#news .nl_sec2 ul.news li:first-child .date {
  background-color: #2e63bf;
  color: #fff;
  margin-top: 20px;
}

#news .nl_sec2 ul.news li:first-child .intro {
  color: #666;
  margin-bottom: 27px;
}

#news .nl_sec2 ul.news li:first-child .more {
  display: inline-block;
  border-bottom: 2px solid #2e63bf;
}

#news .nl_sec2 ul.news li:last-child {
  margin-bottom: 30px;
}

#news .nl_sec2 ul.news li:hover .date {
  background-color: #2e63bf;
  color: #fff;
}

#news .nl_sec2 ul.page li {
  padding: 6px 11px;
  background-color: #f1f1f1;
  margin-right: 10px;
  float: left;
  color: #333;
}

#news .nl_sec2 ul.page li:hover, #news .nl_sec2 ul.page li.active {
  background-color: #2e63bf;
  color: #fff;
}

#news .na_sec1 .title {
  border-left: 3px solid #2e63bf;
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 3px;
  background-color: #fff;
  margin-top: 40px;
}

#news .na_sec1 .title p {
  color: #333;
}

#news .na_sec1 .title p:last-child {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

#news .na_sec1 .title p.s {
  font-size: 18px;
  margin-bottom: 9px;
}

#news .na_sec1 .title span {
  color: #2e63bf;
}

#news .na_sec2 {
  margin-bottom: 58px;
}

#news .na_sec2 * {
  color: #333;
}

#news .na_sec2 .title {
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 30px;
}

#news .na_sec2 .content p {
  line-height: 25px;
  margin-bottom: 30px;
}

#news .na_sec2 .content img {
  margin: 0 auto 30px;
}

#news .na_sec2 .page {
  margin-top: 34px;
}

#news .na_sec2 .page a {
  color: #666;
}

@media (min-width: 1200px) {
  #index .ind_sec2 p.l {
    padding: 52px 29px;
    min-height: 254px;
  }
  #index .ind_sec3 .bd:hover {
    border-left: 1px solid #c6d4ed;
    border-right: 1px solid #c6d4ed;
  }
  #index .ind_sec3 .bd:hover p.more span {
    background-color: #fff;
    color: #2e63bf;
  }
  #index .ind_sec3 .bd:hover p:before, #index .ind_sec3 .bd:hover p:after {
    content: '';
    position: absolute;
    background: #494949;
    height: 1px;
    top: 13px;
    background-color: #c6d4ed;
  }
  #index .ind_sec3 .bd:hover p:before {
    left: 0;
  }
  #index .ind_sec3 .bd:hover p:after {
    right: 0;
  }
  #index .ind_sec4 .jtb {
    background: url("../img/yjt.jpg") no-repeat right bottom;
  }
  .pl_sec1, .pa_sec1, .nl_sec1, .na_sec1 {
    background: url("../img/bg1.jpg") no-repeat left 0;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  #index .ind_sec2 p.l {
    padding: 9px 35px !important;
    min-height: 211px;
  }
  #index .ind_sec2 .xm8 img {
    max-width: 100%;
  }
  #index .ind_sec4 .intro {
    padding: 8px;
    color: #333;
    min-height: 223px;
  }
  #index .ind_sec4 .intro .int_tit {
    font-size: 22px;
  }
  #index .ind_sec4 .intro .int_con {
    line-height: 28px;
  }
  #product .pl_sec1 li a p {
    font-size: 15px;
  }
  #product .pa_sec2 .title {
    margin-top: 40px;
  }
  #news .nl_sec2 ul.news li:first-child p {
    margin: 0 !important;
  }
}

@media (min-width: 1000px) {
  #index .ind_sec2 .step-1 {
    padding-left: 70px;
    background: url("../img/1.jpg") no-repeat left center;
  }
  #index .ind_sec2 .step-2 {
    padding-left: 70px;
    background: url("../img/2.jpg") no-repeat left center;
  }
  #index .ind_sec2 .step-3 {
    padding-left: 70px;
    background: url("../img/3.jpg") no-repeat left center;
  }
  #index .ind_sec2 .step-4 {
    padding-left: 70px;
    background: url("../img/4.jpg") no-repeat left center;
  }
}

@media (max-width: 999px) {
  #index .ind_sec2 .step-1 {
    padding-top: 50px;
    background: url("../img/1.jpg") no-repeat top center;
  }
  #index .ind_sec2 .step-2 {
    padding-top: 50px;
    background: url("../img/2.jpg") no-repeat top center;
  }
  #index .ind_sec2 .step-3 {
    padding-top: 50px;
    background: url("../img/3.jpg") no-repeat top center;
  }
  #index .ind_sec2 .step-4 {
    padding-top: 50px;
    background: url("../img/4.jpg") no-repeat top center;
  }
  #index .ind_sec2 .step_t {
    text-align: center;
  }
  #index .ind_sec3 li {
    margin-bottom: 50px;
  }
  #index .ind_sec4 img {
    width: 100%;
  }
  #product .pa_sec6 .table-responsive {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

@media (max-width: 759px) {
  #product .pl_sec2 img {
    margin: 0 auto;
  }
}

@media (max-width: 449px) {
  #product .pl_sec2 img {
    width: 100%;
  }
}

@media (max-width: 399px) {
  h4 {
    background-image: none !important;
  }
}
